<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | SocialApp</title>
</head>
<body> -->

    <h1>Welcome to SocialApp</h1>
    
<!-- 
</body>
</html>   after studying layouts no need of this html containers just write body part in this files which will be replaced by body in layout page-->